.app {
  background-color: #fffdf6;
  scroll-behavior: smooth;
}
.product-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
}
.product-box {
  background-color: #faf1e6;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  height: 450px;
  border-radius: 10px;
}
.product-box img {
  width: 250px;
}
.product-box .image {
  background-color: #faf6e9;
  border-radius: 10px;
}
.product-box .image:hover img {
  border-radius: 10px;
  transition: 0.2s;
  width: 270px;
  transform: rotate(1deg);
  background-color: #f0ebdcd9;
}
.product-box .info {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.product-box .info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
}
.product-box .info h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
  height: 50px;
  font-size: 20px;
  margin-bottom: -10px;
}
.product-box:hover .info h2 {
  /* width: 300px; */
  white-space: normal;
  text-overflow: none;
}
.add-to-cart {
  white-space: nowrap;
  cursor: pointer;
  background: #83a85d;
  color: #ddeb9d;
  outline: none;
  padding: 10px 15px;
  border: 2px solid #ddeb9d;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
}
.add-to-cart:hover {
  background: #ddeb9d;
  color: #83a85d;
  transition: 0.5s;
  border: 2px solid #83a85d;
}
.price-button {
  display: flex;
  align-items: center;
  gap: 3px;
}
.price-button .price {
  background-color: #e3ddc7;
  border-radius: 3px;
  color: #83a85d;
  font-weight: bold;
  padding: 4px 2px;
}
.cart-page {
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-items: center;
  flex-direction: column;
  max-height: calc(100vh + 80px);
  margin: 0;
  padding: 0;
}
.total-box {
  position: fixed;
  bottom: 0;
  background-color: #83a85d;
  font-size: 30px;
  font-weight: bold;
  width: auto;
  display: block;
  padding: 20px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ddeb9d;
  border-top: 5px solid #83a85d;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* #F2F2F2 */
/* #EAE4D5 */
/* #B6B09F */
/* #000000 */
